Thank you for purchasing Co-VidSpeak! Unfortunately there
was an unexpected problem procesisng your latest payment 
for the account <b><%= @account.settings['name'] || @account.code %></b>
<br/><br/>
Your credit card information may no longer be valid, and we'll
need updated information within the next few days in order to
keep your account active.<br/><br/>
<a href="<%= ApplicationMailer.current_host %>/accounts/<%= @account.admin_code %>?code=<%= @account.code %>">Click Here to access your account and update your billing settings</a>
<br/><br/>Thanks!<br/>
<%= email_signature %>
