<!DOCTYPE html>
<html>
  <head>
    <title>Co-VidSpeak</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="//media.twiliocdn.com/sdk/js/video/releases/2.0.0/twilio-video.min.js"></script>
    <script src="/scripts/jquery-3.4.1.min.js"></script>
    <script src="/weblinger.js/weblinger.js"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="/scripts/qrcode.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= action_cable_meta_tag %>
    </head>

  <body>
    <div class="container" id="simple_content">
      <header>
        <h1><a href="/"><img src="/logo.svg" /> <span style='color: #888; font-style: italic'>Co</span>-<span style='font-weight: bold;'>VidSpeak</span></a></h1>
        <% if @show_intro %>
          <h2 id='help' class='header_link'><a href="/intro">New to Co-Vidspeak?</a></h2>
        <% else %>
          <h2 id='help' class='header_link'><a href="#"><img src="/icons/question-circle-fill.svg" style='width: 30px; opacity: 0.5; padding-right: 5px;'/></a></h2>
        <% end %>
      </header>
      <div id="contents">
        <%= yield %>
      </div>
      <footer class="footer">
        <a href="/">Home</a> <span style='color: #aaa;'>|</span>
        <a href="/pricing">Pricing</a> <span style='color: #aaa;'>|</span>
        <a href="/about">About</a> <span style='color: #aaa;'>|</span>
        <a href="/terms">Terms</a> <span style='color: #aaa;'>|</span>
        <a href="/privacy">Privacy</a> <span style='color: #aaa;'>|</span>
        <a href="https://github.com/open-aac/covidspeak">Developers</a>
      </footer>
    </div>
    <%= render 'shared/help_modal' %>
    <%= more_scripts %>
  </body>
</html>
