<!DOCTYPE html>
<html>
  <head>
    <title>Covidchat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="//media.twiliocdn.com/sdk/js/video/releases/2.0.0/twilio-video.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  </head>

  <body>
    <div class="container" id="simple_content">
      <header>
        <h1>Co-VidChat
      </header>
      <div id="contents">
        <%= yield %>
      </div>
      <footer class="footer">
        License and terms and stuff
      </footer>
    </div>
    <%= more_scripts %>
  </body>
</html>
