<!DOCTYPE html>
<html>
  <head>
    <title>Co-VidSpeak</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="//media.twiliocdn.com/sdk/js/video/releases/2.0.0/twilio-video.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="/scripts/qrcode.min.js"></script>
    <%= action_cable_meta_tag %>
  </head>

  <body>
    <div class="container" id="full_content">
      <div id="contents">
        <%= yield %>
      </div>
    </div>
    <%= more_scripts %>
  </body>
</html>
